.list-advantage {
  /*display: flex;*/
  text-align: left;
  .style + .style {
    /*margin-left: 30px;*/
  }
  .style:last-child {
    padding-bottom: 60px;
  }
}
.section-advantage {
  padding-top: 94px;
  .title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  .text {
    margin: 0;
    font-size: 14px;
    line-height: 1.71;
    color: $secondary-color;
  }
}
.style {
  /*width: 270px;*/
  .icon {
    background-color: #f5f4fa;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /*width: 270px;*/
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}
.antenna {
  background-image: url(../img/antenna.svg);
}
.clock {
  background-image: url(../img/clock.svg);
}
.diagrama {
  background-image: url(../img/diagram.svg);
}
.astronaut {
  background-image: url(../img/astronaut.svg);
}
.icon .img {
  margin: 25px 100px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .list-advantage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 738px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .style {
    width: calc((100% - 30px) / 2);
  }
  .style:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .list-advantage {
    width: 1170px;
    .style + .style {
      margin-left: 30px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .style {
    width: 270px;
  }
}
