.list-firm {
  /*display: flex;*/
  display: flex;
  flex-wrap: wrap;

  .style + .style {
    margin-bottom: 30px;
  }
  .style:nth-child(2n) {
    margin-left: 30px;
  }
}

.section-firm {
  padding-top: 60px;
  padding-bottom: 64px;
  .title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
}
.style .link-firm {
  width: 210px;
  height: 90px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-firm {
  &:hover,
  &:focus {
    border-color: $accent-color;
    color: $accent-color;
    fill: $accent-color;
  }
}
@media (min-width: 768px) {
  .list-firm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 738px;
  }
}
@media screen and (min-width: 768px) {
  .list-firm .style {
    width: 226px;
  }
  .list-firm .style:nth-child(2n) {
    margin-left: 0px;
  }
  .style .link-firm {
    width: 226px;
  }
}
@media (min-width: 1200px) {
  .list-firm {
    width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .list-firm .style {
    width: 170px;
  }
  .style .link-firm {
    width: 170px;
  }
}
