.list-services {
  display: flex;
  .style {
    width: 370px;
    position: relative;
  }
  .style + .style {
    margin-left: 30px;
  }
}

.section-services {
  padding-top: 94px;
  padding-bottom: 94px;
  .title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
  }
  .caption {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 370px;
    height: 43px;
    margin: 0;
    padding-top: 27px;
    bottom: 0;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
  }
}
